.home {
    background-image: url('../../public/bg-img.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    background-attachment: fixed;
    min-height: 100vh;
}

@media only screen and (max-width: 800px) {
    .home {
        background-image: url('../../public/bg_mobile.jpg');
        background-size: 170%; 
        background-position: top;
        background-repeat: no-repeat;
        background-attachment: scroll;
        min-height: 100vh;
    }
}